In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [4]:
query = """
SELECT 1 as number;
"""
pd.read_sql(query, con=engine)

   number
0       1

In [5]:
query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
"""
pd.read_sql(query, con=engine)

Empty DataFrame
Columns: [schemaname, tablename, tableowner, tablespace, hasindexes, hasrules, hastriggers, rowsecurity]
Index: []