In [1]:
import pandas as pd

/Users/rajagopalps/mlenv/lib/python3.8/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [3]:
data = pd.read_csv('data/participants_dataset_DES.csv')

In [8]:
data = data.fillna(0)

In [7]:
data.head(10)

,AIRPLANE_ID,YEAR,MONTH,DAY_OF_WEEK,DEP_DEL15,DEP_TIME_BLK,DISTANCE_GROUP,SEGMENT_NUMBER,CONCURRENT_FLIGHTS,NUMBER_OF_SEATS,...,PLANE_AGE,DEPARTING_AIRPORT,LATITUDE,LONGITUDE,PREVIOUS_AIRPORT,PRCP,SNOW,SNWD,TMAX,AWND
0,608900,2020.0,1.0,4,0,0800-0859,0.0,3.0,22.0,0.0,...,11.0,Minneapolis-St Paul International,33.291,-75.177,McCarran International,0.00,0.0,0.0,0.0,0.00
1,211610,2020.0,1.0,4,0,0600-0659,5.0,3.0,25.0,76.0,...,2.0,Dallas Fort Worth Regional,34.163,-71.006,Orlando International,0.00,0.0,0.0,57.0,4.93
2,566705,0.0,1.0,4,0,1200-1259,3.0,0.0,19.0,174.0,...,11.0,Norfolk International,29.534,-81.622,Chicago Midway International,0.00,0.0,0.0,77.0,7.58
3,338088,2020.0,0.0,3,1,1000-1059,7.0,0.0,0.0,143.0,...,6.0,Dallas Fort Worth Regional,38.836,-91.015,Syracuse Hancock International,0.00,0.0,1.2,39.0,6.98
4,216070,2020.0,1.0,3,1,2200-2259,0.0,0.0,28.0,49.0,...,0.0,Newark Liberty International,36.090,-95.852,Los Angeles International,0.34,0.4,0.0,35.0,13.79
5,329121,2020.0,1.0,2,0,0800-0859,2.0,5.0,49.0,68.0,...,21.0,John F. Kennedy International,42.301,-74.626,Chicago O'Hare International,0.00,0.0,0.0,49.0,3.64
6,445799,2020.0,1.0,4,0,0800-0859,6.0,3.0,13.0,173.0,...,6.0,Jacksonville International,38.359,-104.993,NONE,0.00,0.0,0.0,57.0,13.42
7,187217,2020.0,1.0,3,0,1800-1859,0.0,2.0,0.0,143.0,...,19.0,Phoenix Sky Harbor International,39.521,-105.113,Detroit Metro Wayne County,0.00,0.0,0.0,5.0,4.08
8,415886,2020.0,0.0,2,0,0700-0759,3.0,0.0,10.0,142.0,...,0.0,Orlando International,47.519,-105.254,Seattle International,0.04,0.0,0.0,0.0,7.48
9,164711,2020.0,1.0,6,0,0900-0959,0.0,6.0,2.0,68.0,...,0.0,Atlanta Municipal,40.807,-82.116,Nashville International,0.00,0.0,0.0,0.0,9.73

In [9]:
data.columns

Index(['AIRPLANE_ID', 'YEAR', 'MONTH', 'DAY_OF_WEEK', 'DEP_DEL15',
       'DEP_TIME_BLK', 'DISTANCE_GROUP', 'SEGMENT_NUMBER',
       'CONCURRENT_FLIGHTS', 'NUMBER_OF_SEATS', 'CARRIER_NAME',
       'AIRPORT_FLIGHTS_MONTH', 'AIRLINE_FLIGHTS_MONTH',
       'AIRLINE_AIRPORT_FLIGHTS_MONTH', 'AVG_MONTHLY_PASS_AIRPORT',
       'AVG_MONTHLY_PASS_AIRLINE', 'FLT_ATTENDANTS_PER_PASS',
       'GROUND_SERV_PER_PASS', 'PLANE_AGE', 'DEPARTING_AIRPORT', 'LATITUDE',
       'LONGITUDE', 'PREVIOUS_AIRPORT', 'PRCP', 'SNOW', 'SNWD', 'TMAX',
       'AWND'],
      dtype='object')

# Create output dataframe

In [29]:
output = data.copy()

In [30]:
## Remove data < 2020
output = output[output['YEAR'] >= 2020]

In [35]:
## Create Date
output['DATE'] =output.apply(lambda x:str(int(x['DAY_OF_WEEK'])).zfill(2)+'/'+str(int(x['MONTH'])+1).zfill(2)+'/'+str(int(x['YEAR'])),axis=1)
output['DATE'].head(10)

0     04/02/2020
1     04/02/2020
3     03/01/2020
4     03/02/2020
5     02/02/2020
6     04/02/2020
7     03/02/2020
8     02/01/2020
9     06/02/2020
10    04/02/2020
Name: DATE, dtype: object

In [41]:
# Create low and High
from datetime import datetime
output['LOW'] =output['DEP_TIME_BLK'].apply(lambda x:x.split("-")[0])
output['HIGH'] =output['DEP_TIME_BLK'].apply(lambda x:x.split("-")[1])
output['TIMESTAMP'] = output.apply(lambda x: datetime.strptime(x['DATE']+' '+x['LOW'], '%d/%m/%Y %H%M').strftime("%Y/%m/%d %H:%M"),axis=1)
output.head(10)

,AIRPLANE_ID,YEAR,MONTH,DAY_OF_WEEK,DEP_DEL15,DEP_TIME_BLK,DISTANCE_GROUP,SEGMENT_NUMBER,CONCURRENT_FLIGHTS,NUMBER_OF_SEATS,...,PREVIOUS_AIRPORT,PRCP,SNOW,SNWD,TMAX,AWND,DATE,LOW,HIGH,TIMESTAMP
0,608900,2020.0,1.0,4,0,0800-0859,0.0,3.0,22.0,0.0,...,McCarran International,0.00,0.0,0.0,0.0,0.00,04/02/2020,0800,0859,2020/02/04 08:00
1,211610,2020.0,1.0,4,0,0600-0659,5.0,3.0,25.0,76.0,...,Orlando International,0.00,0.0,0.0,57.0,4.93,04/02/2020,0600,0659,2020/02/04 06:00
3,338088,2020.0,0.0,3,1,1000-1059,7.0,0.0,0.0,143.0,...,Syracuse Hancock International,0.00,0.0,1.2,39.0,6.98,03/01/2020,1000,1059,2020/01/03 10:00
4,216070,2020.0,1.0,3,1,2200-2259,0.0,0.0,28.0,49.0,...,Los Angeles International,0.34,0.4,0.0,35.0,13.79,03/02/2020,2200,2259,2020/02/03 22:00
5,329121,2020.0,1.0,2,0,0800-0859,2.0,5.0,49.0,68.0,...,Chicago O'Hare International,0.00,0.0,0.0,49.0,3.64,02/02/2020,0800,0859,2020/02/02 08:00
6,445799,2020.0,1.0,4,0,0800-0859,6.0,3.0,13.0,173.0,...,NONE,0.00,0.0,0.0,57.0,13.42,04/02/2020,0800,0859,2020/02/04 08:00
7,187217,2020.0,1.0,3,0,1800-1859,0.0,2.0,0.0,143.0,...,Detroit Metro Wayne County,0.00,0.0,0.0,5.0,4.08,03/02/2020,1800,1859,2020/02/03 18:00
8,415886,2020.0,0.0,2,0,0700-0759,3.0,0.0,10.0,142.0,...,Seattle International,0.04,0.0,0.0,0.0,7.48,02/01/2020,0700,0759,2020/01/02 07:00
9,164711,2020.0,1.0,6,0,0900-0959,0.0,6.0,2.0,68.0,...,Nashville International,0.00,0.0,0.0,0.0,9.73,06/02/2020,0900,0959,2020/02/06 09:00
10,61209,2020.0,1.0,4,0,0900-0959,8.0,4.0,37.0,160.0,...,Detroit Metro Wayne County,0.00,0.0,0.0,47.0,4.96,04/02/2020,0900,0959,2020/02/04 09:00

In [44]:
# Calculate WindChill
output['WIND_CHILL'] = 35.74 + (0.6215 * ouput['TMAX']) - (35.75 * (ouput['AWND'].pow(0.16))) + (0.4275 * ouput['TMAX'] * (ouput['AWND'].pow(0.16)))
output.head(10)

,AIRPLANE_ID,YEAR,MONTH,DAY_OF_WEEK,DEP_DEL15,DEP_TIME_BLK,DISTANCE_GROUP,SEGMENT_NUMBER,CONCURRENT_FLIGHTS,NUMBER_OF_SEATS,...,PRCP,SNOW,SNWD,TMAX,AWND,DATE,LOW,HIGH,TIMESTAMP,WIND_CHILL
0,608900,2020.0,1.0,4,0,0800-0859,0.0,3.0,22.0,0.0,...,0.00,0.0,0.0,0.0,0.00,04/02/2020,0800,0859,2020/02/04 08:00,35.740000
1,211610,2020.0,1.0,4,0,0600-0659,5.0,3.0,25.0,76.0,...,0.00,0.0,0.0,57.0,4.93,04/02/2020,0600,0659,2020/02/04 06:00,56.473086
3,338088,2020.0,0.0,3,1,1000-1059,7.0,0.0,0.0,143.0,...,0.00,0.0,1.2,39.0,6.98,03/01/2020,1000,1059,2020/01/03 10:00,33.944654
4,216070,2020.0,1.0,3,1,2200-2259,0.0,0.0,28.0,49.0,...,0.34,0.4,0.0,35.0,13.79,03/02/2020,2200,2259,2020/02/03 22:00,25.860071
5,329121,2020.0,1.0,2,0,0800-0859,2.0,5.0,49.0,68.0,...,0.00,0.0,0.0,49.0,3.64,02/02/2020,0800,0859,2020/02/02 08:00,47.991828
6,445799,2020.0,1.0,4,0,0800-0859,6.0,3.0,13.0,173.0,...,0.00,0.0,0.0,57.0,13.42,04/02/2020,0800,0859,2020/02/04 08:00,53.919910
7,187217,2020.0,1.0,3,0,1800-1859,0.0,2.0,0.0,143.0,...,0.00,0.0,0.0,5.0,4.08,03/02/2020,1800,1859,2020/02/03 18:00,-3.245167
8,415886,2020.0,0.0,2,0,0700-0759,3.0,0.0,10.0,142.0,...,0.04,0.0,0.0,0.0,7.48,02/01/2020,0700,0759,2020/01/02 07:00,-13.588772
9,164711,2020.0,1.0,6,0,0900-0959,0.0,6.0,2.0,68.0,...,0.00,0.0,0.0,0.0,9.73,06/02/2020,0900,0959,2020/02/06 09:00,-15.708664
10,61209,2020.0,1.0,4,0,0900-0959,8.0,4.0,37.0,160.0,...,0.00,0.0,0.0,47.0,4.96,04/02/2020,0900,0959,2020/02/04 09:00,44.720332

In [47]:
output['PRCP_SNOW_RATIO'] = output['PRCP'] / output['SNOW']
output['PLANE_AGE_AIRLINE_AIRPORT_FLIGHTS_MONTH_RATIO'] = output['PLANE_AGE'] / output['AIRLINE_AIRPORT_FLIGHTS_MONTH']
output['SEAT_DISTRIBUTION'] = output['NUMBER_OF_SEATS'] / output['CONCURRENT_FLIGHTS']


min_seat = output['SEAT_DISTRIBUTION'].min()
max_seat = output['SEAT_DISTRIBUTION'].max()
output['SEAT_DISTRIBUTION_NORMALISED'] = (output['SEAT_DISTRIBUTION'] - min_seat)/ (max_seat - min_seat)

In [49]:
output[['DATE','LOW','HIGH','TIMESTAMP','WIND_CHILL','PRCP_SNOW_RATIO','PLANE_AGE_AIRLINE_AIRPORT_FLIGHTS_MONTH_RATIO','SEAT_DISTRIBUTION','SEAT_DISTRIBUTION_NORMALISED']].head(10)

,DATE,LOW,HIGH,TIMESTAMP,WIND_CHILL,PRCP_SNOW_RATIO,PLANE_AGE_AIRLINE_AIRPORT_FLIGHTS_MONTH_RATIO,SEAT_DISTRIBUTION,SEAT_DISTRIBUTION_NORMALISED
0,04/02/2020,0800,0859,2020/02/04 08:00,35.740000,NaN,inf,0.000000,0.0
1,04/02/2020,0600,0659,2020/02/04 06:00,56.473086,NaN,0.010582,3.040000,0.0
3,03/01/2020,1000,1059,2020/01/03 10:00,33.944654,NaN,0.008772,inf,NaN
4,03/02/2020,2200,2259,2020/02/03 22:00,25.860071,0.85,0.000000,1.750000,0.0
5,02/02/2020,0800,0859,2020/02/02 08:00,47.991828,NaN,0.012567,1.387755,0.0
6,04/02/2020,0800,0859,2020/02/04 08:00,53.919910,NaN,inf,13.307692,0.0
7,03/02/2020,1800,1859,2020/02/03 18:00,-3.245167,NaN,0.076305,inf,NaN
8,02/01/2020,0700,0759,2020/01/02 07:00,-13.588772,inf,0.000000,14.200000,0.0
9,06/02/2020,0900,0959,2020/02/06 09:00,-15.708664,NaN,0.000000,34.000000,0.0
10,04/02/2020,0900,0959,2020/02/04 09:00,44.720332,NaN,0.004967,4.324324,0.0